* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.container{
    background: #047267;
    margin: 30px;
    padding: 30px;
    border-radius: 18px;
    /*width: 500px;
    height: 500px;*/
}

.title{
    text-align: center;
}

.title span{
    color:#9fbec0;
}

.status-action{
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}

.status span{
    color: #9fbec0;
}

.reset{
    cursor: pointer;
}

.reset:hover{
    color: #9fbec0;
}

.game-grid{
    background: #044e47;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.game-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: #047267;
    cursor: pointer;
}

.x,
.o{
    cursor: default;
}

.x::after{
    content: '×';
    font-size: 100px;
}

.o::after{
    content: '○';
    color: #9fbec0;
    font-size: 70px;
}

.won::after{
    color: #eb6010;
}

@media only screen and (max-width: 1024px) {
    .game-grid {
      margin-top: 25px;
      grid-gap: 10px;
    }
  
    .game-cell {
      height: 75px;
      width: 75px;
    }
  
    .x::after {
      font-size: 75px;
    }
  
    .o::after {
      font-size: 60px;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .container {
      margin: 25px;
      padding: 25px;
    }
  
    .game-cell {
      height: 65px;
      width: 65px;
    }
  
    .x::after {
      font-size: 50px;
    }
  
    .o::after {
      font-size: 40px;
    }
  }